{% extends 'base.html' %}
{% block title %}register |{% endblock title %}
{% block body  %}
<form action="" class="form-group col-md-4 offset-4 card">
    <div class="m-4">
     <label for="">First Name</label>
     <input type="text" class="form-control" id="">
      <label for="">Last Name</label>
     <input type="text" class="form-control">
     <label for="">Username</label>
     <input type="text" class="form-control">
     <label for="">Mobile Number</label>
     <input type="text" class="form-control">
     <label for="">Gender</label>
     <input type="radio" name="xyz">Male
     <input type="radio" name="xyz">Female <br>
     <label for="">Email Id</label>
     <input type="text" class="form-control">
     <label for="">Location</label>
     <input type="text" class="form-control">
     <label for="">Enter Password</label>
     <input type="text" class="form-control">
     <label for="">Confirm Password</label>
     <input type="text" class="form-control">
     <button class="btn btn-success">Register</button>
     <button class="btn btn-success">cancel</button>
    </div>
 </form>

{% endblock body  %}
